body {
  padding: 0;
  margin: 0;
  font-family: OpenSans, sans-serif;
  color: #555252;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* -----MAIN MANU AND LOGO----------------------------- */


nav {
  float: right;
  vertical-align: middle;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  float: left; 
  margin-top: 43px;
  vertical-align: middle;
}

.logo:first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.menu {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-top: 43px;
}

.menu li {
  float: left;
  display: inline-block;
  margin-left: 30px;
}

.menu li:first-child{
margin-left: 0px;
}

.menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.menu a:hover,
.menu a:focus {
  color: #1abc9c;
  transition: all .2s;
  opacity: 0.7;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
  clear: both;
}

    /* --- GOODS AND PRICE --------------------------- */

h2{
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-top: 105px;
  border-bottom: 7px solid #1abc9c;
  
  
}

.goods li{
  list-style: none;
  display: inline-block;
}

.goods {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.goods-block{
  width: 255px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  
} 

.not{
  margin-right: 0;
}
/* не могу понять почему не применяется!! */

/* .goods:nth-child(4n) {
margin-right: 0;
} */

.name-price{
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #fff;
 
}

.goods-name{
  font-size: 18px;
  background-color: #323232;
  padding: 14px;
  /* float: left; */
}

.priсe{
  font-size: 18px;
  padding: 14px;
  background-color: #8c8c8c;
  float: right;
}


/* -----LATEST NEWS------------------------- */

h3 {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: 600; 
  line-height: 22px; 
}
.latest-news{
  font-size: 0;
}
.news{
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 350px;
  margin-right: 30px;
}

.none-margen {
  margin-right: 0;
}
.news p {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 17px; 
}
.news li{
  list-style: none;
}

