body {
font-family: "Playfair";
padding: 0;
margin: 0;
color: #626262;
}

.container {
width: 902px;
margin: 0 auto;
} 

nav {
text-align: center;
margin-top: 75px;
}

.menu{
padding: 0;
margin: 0;
display: inline-block;
}

.menu li {
float: left;
display: block;
margin-right: 100px;		
}

.menu li:last-child{
margin-right: 0;
}

.menu a{
color: #626262;
text-decoration: none;
font-size: 14px;
text-transform: uppercase;
	
	
}
a:hover {
color: #03a9f4;
transition: all .5s;
opacity: 0.7;
}

a:active {
color: #03a9f4;
opacity: 0.7;
}
.coment {
font-family: "Ubuntu";
text-transform: uppercase;
color: #beb8ab;
float: left;
font-size: 14px;
}
.title{
display: inline-table;
width: 421px;
float: left; 
text-align: left;
margin-top: 130px;
}

.clearfix:after {
content: '';
display: table;
width: 100%;
clear: both;
}
	
.services p{
margin-top: 30px;
}

.services h2{
margin-top: 75px;
font-weight: normal;	
}

.button {
font-family: "Playfair";
border: 1px solid #3F4B53;
border-radius: 1px;
display: block;
padding: 20px 30px;
margin: 0 auto;
text-align: center;
font-size: 20px;
margin-top: 55px;
margin-bottom: 70px;
color: #3F4B53;
}

.position{
padding-left: 60px;
}