$header-acсent: #fce38a;
$header-color: #fff;
$bnt-hover: #f38181;
$title-color: #333;
$bg-icon-hover: #fff;
$main-text: #b6b6b6; 
$main-icon: #95e1d3;
$footer-btn: #95e1d3;
$team-btn: #fce38a;
$team-icon: #f38181;
$input-border: #e5e5e5;
$footer-link: #f38181;
$footer-submit: #fff;
$footer-submit-bg: #95e1d3;
$input-placeholder: #ccc;
